 {{> head }}
 {{> navbar }}

 <div class="container">

     <div class="col-8">
         <h1> Hola que tal amigos, bienvenidos a nuestra empresa </h1>
     </div>

     <div class="col-4">
         <img src="../public/assets/imgs/817125.jpg" class="img-thumbnail" width="300" height="400">
     </div>

 </div>
 {{> footer }}