    {{> head }}

    {{> navbar }} 
    {{!-- Asi estoy insertando un parcial de handlebars --}}
      <div class="container">
          <h1>Hola Mundo <span class="badge bg-secondary">{{ capitalizar name }}</span></h1>
          
          <button type="button" class="btn btn-primary">More ..</button>
      </div>

     {{> footer }}